
.form
{
    width: 50%;
    height: 50%;
    min-width: 400px;
    min-height: 460px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-cadastro
{
    width: 50%;
    height: 58%;
    min-width: 400px;
    min-height: 460px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.label-var
{
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 600;

}

.title-var
{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 600;
}


.input-var
{
    height: 40px;
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.image-container
{
    width: 50%;
}

.image-container > img{
    width: 100% !important; 
    height: 100% !important;
    overflow: hidden;
}
.form-container
{
    width: 50%;
}

.error
{
    color: rgb(212, 48, 48);
    font-size: 15px;
}

@media (max-width: 992px) { /* Para tablets e celulares */
    .image-container {
        display: none;
    }

    .form-container {
        width: 100% !important; 
    }

   
}
