:root {
    --primary-color: #1D227C;
    --secondary-color: #FFF;
    --tertiary-color: #263AD1;
}


*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html
{
 height: 100%;
 width: 100%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: sticky;
}

header .logo {
    width: clamp(100px, 100%, 300px);
    height: auto;
    aspect-ratio: 15/4;
}

.barra-busca {
    box-sizing: border-box;
    width: clamp(300px, 100%, 450px);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4rem;
}

.barra-busca img {
    width: 3.5rem;
}

.barra-busca div {
    padding: 0 .5rem;
    flex-grow: 1;
    text-align: center;
}

.barra-busca div:nth-child(1), .barra-busca div:nth-child(2) {
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

.barra-busca div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.barra-busca input {
    flex-grow: 1;
    width: 100px;
}

.bg-primary-color
{
    background-color: var(--primary-color);
}
.bg-secondary-color
{
    background-color: var(--secondary-color);
}


.btn-var-primary
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.link-var-primary
{
    color: var(--tertiary-color);
    background-color: #FFF;
    border: none;
    text-decoration: underline;
    font-size: 20px;
}

.container
{
    width: 100%;
    height: 100%;
}

.footer {
    height: 5rem;
    width: 100%;
    background-color: var(--secondary-color);
}

.footer div {
    width: clamp(300px, 100%, 1200px);
}

.footer div p {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .acesso-usuario {
        display: none;
    }

    .footer div p {
        font-size: 1rem;
    }
}